<h1>BBQ</h1>
<div class="container-fluid">
	<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
		<div data-hook="bbq-info" data-bbq="<%= params[:id] %>"></div>
		Items People are bringing:
		<ul class="" data-hook="items-list">
			<% @items.each do |item| %>
				<li><%= item.name %> - <a href="/users/showUser/<%= item.user_id %>"><%= User.find_by(:id => item.user_id).name %></a></li>
			<% end %>
		</ul>
		
		<div class="form-group">
			<label>Add Item</label>
			<input class="form-control" type="text" data-hook='item-input'>
		</div>
		
		<button class="btn btn-primary" id="<%= @bbq.id%>" type='submit' data-hook="submit-item">Add</button>
		<br>

		<a href="<%= barbecues_path %>">Back to list of BBQs</a>
	</div>

	<div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Whos coming?:</h4> 
			</div>
			<div class="panel-body">
				<!-- <ul class="list-unstyled"> -->
					<% @bbq.attendances.each do |user| %>

						<div class="col-sm-6"><a href="/users/showUser/<%= user.id %>"><%= User.find_by(:id => user.id).name  %></a></div>
					<% end %>
				<!-- </ul> -->
			</div>
		</div>
		
	</div>
	<div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Comments</h4>
			</div>
			<div class="panel-body">
				<%= react_component('CommentBox', props = {:url => "/api/barbecues/#{@bbq.id}/Comments", :pollInterval => 1000, :user_id => current_user.id}) %>
			</div>
			
		</div>
	</div>
</div>
<% if current_user.present? %>
	 	<%= react_component('Box', props= {email: current_user.email}, html_options={:class => "react_box "}) %>
<% end %>